# CLN Connection
CLN_NODE_URI=https://YOUR_SERVER_IP:50002
CLN_HOSTNAME=YOUR_HOSTNAME

# Server
GRPC_BIND_ADDR=0.0.0.0:50003

# TLS
CLN_CERT_DIR=/etc/gcob/certs
CLN_CA_FILE=ca.pem
CLN_CLIENT_FILE=client.pem
CLN_CLIENT_KEY_FILE=client-key.pem
SERVER_CERT_FILE=server.pem
SERVER_KEY_FILE=server-key.pem
