# CLN Connection
CLN_NODE_URI=https://127.0.0.1:50062
CLN_HOSTNAME=debian-knots

# Server
GRPC_BIND_ADDR=192.168.1.0\24:50063

# TLS
CLN_CERT_DIR=/home/deb_cpim/certs
CLN_CA_FILE=ca.pem
CLN_CLIENT_FILE=client.pem
CLN_CLIENT_KEY_FILE=client-key.pem
SERVER_CERT_FILE=server.pem
SERVER_KEY_FILE=server-key.pem

# Environment
GCOB_ENV=development
